<section class="informative-banners">
    <div class="row h-100">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="service-wrapper">
                    <div class="service-item">
                     <div class="icon">
                       <img src="/assets/Images/icon-truck.png" alt="">
                     </div>
                     <div class="text">
                       <h4>Envio Gratís</h4>
                       <p>En compras superiores a $45.000</p>
                     </div>
                    </div>
                
                
                    <div class="service-item">
                        <div class="icon">
                          <img src="/assets/Images/icon-cards.png" alt="">
                        </div>
                        <div class="text">
                          <h4>3 y 6 cuotas sin interés</h4>
                          <p>Con tarjetas de crédito bancarias</p>
                        </div>
                       </div>
            
                       <div class="service-item">
                        <div class="icon">
                          <img src="/assets/Images/icon-shield.png" alt="">
                        </div>
                        <div class="text">
                          <h4>Comprá de manera segura</h4>
                          <p>Protegemos tus datos</p>
                        </div>
                       </div>
               
            </div>
        </div>
    </div>
</section>