@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');



:root{
  position: relative;
}

.black-backdrop{
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: #0000006b;
  opacity: 0;
  transition: opacity .5s ease;
}

.brand-logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
height: 100%;
  width: 250px;
  background-color: var(--primary-color);
}
.navbar-brand{
  margin: 0;
}
.backdrop-active{
  left: 0vw;
  opacity: 1;
}
nav{

  z-index: 50;
}

.nav-cont{
    background-color: var(--grey-color-light);
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    height: 60px;
    padding: 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.navbar-bar{
height: 100%;
}

.navbar-collapse{
  padding: 0;
  height: 100%;
}
.cart-user-cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
background-color: var(--primary-color);
height: 100%;
width: fit-content;
}

.cart-user-cont li{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
    color:#000;
}


ul{

  list-style: none;
}

.nav-item{
  display: flex;
align-items: center;
justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0 18px;
  height: 59.06px;
  text-transform: uppercase;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  padding: 0;
}

.nav-item:hover{
  background-color: var(--primary-color);
}

.nav-link{
padding: 0!important;
}

.navbar-toggler{
  border: none;  
}

.navbar-toggler:focus{
  border: none;
  box-shadow: none;
}

app-cart-list {
  position: absolute;
  right: -600px; /* ajusta la distancia según tus necesidades */
 transition: all .5s ease;
}

.show-cart{
  right: 0px;
}

.cart-icon{
}


.items-number-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  top: 20px;
  right: 11px;
}

.items-number{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
}

app-submenu{
  z-index: 5;
}

.offcanvas-header{
  display: none;
}

.dropdown-menu {
  background-color: var(--grey-color);
  border: 0;
  width: 100%;

}
.dropdown-menu li{
  border-bottom: 1px solid var(--grey-color);
}
.dropdown-menu.show {

}
@media (max-width: 768px) {
  #offcanvasExample{
    display: flex;
    justify-content: start;
  }
  .offcanvas{

    background-color: var(--grey-color);
  }
  .offcanvas-header{
    display: flex;
    justify-content: end;
    position: absolute;
    top:150px;
    left: 0;
    width: 100%;
  }
  .nav-cont{
    height: 80px;
  }
    .navbar-toggler {
      order: 0;
    }
    .navbar-brand {
    
    }
.brand-logo-cont{
position: absolute;
top: 2px;
left: 50%;
height: 76px;
transform: translateX(-50%);
}
    .cart-user-cont{
   position: absolute;
   right: 0;
   top: 2px;
   height: 76px;
    }

    .navbar-nav{
      background-color: var(--grey-color);
    }

    #navbarNav{
      height: fit-content;
    }
    .nav-item{
      width: 100%;
    }


    .items-number-cont{
      height: 17px;
      width: 17px;
      top: 7px;
      right: 30px;
    }
    
    .items-number{
      color: #fff;
      font-size: 11px;
      font-weight: 600;
      line-height: 11px;
    }

.cart-user-cont  .nav-item:hover{
border: 1px solid var(--grey-color);
}

    .nav-item:hover{
      background-color: var(--grey-color-light);
    }

    .item-dropdown{
      display: flex;
     flex-direction: column;
      height: fit-content;   
      padding: 15px 0px;
    }

.dropdown-item{
  font-size: 15px;
  padding:10px;
  background: var(--grey-color);
}

.disabled{
  background: #000;
}
    .dropdown-item:active{
      color: #000;
      background: var(--grey-color-light);
    }
  }

  @media (max-width: 473px){
    .cart-user-cont{
      width: 60px;
    }

    .brand-logo-cont{
      position: absolute;
      top: 2px;
      left: 50%;
      height: 76px;
      width: fit-content;
      padding: 0 13px;
      transform: translateX(-50%);
      }
      .navbar-brand{
        font-size: 18px;
      }
  }