<section>
<div class="row bg-grey title-ayuda">
    <div class="col">
      <h1 class="m-0">Preguntas Frecuentes</h1>
    </div>
  </div>
  
  <div class="row bg-grey-L d-flex justify-content-center">
    <div class="col-md-8 ayuda-body">
      <ul>
        <li>
          <h4>
            <strong>¿Cómo hago una compra?</strong>
          </h4>
        </li>
      </ul>
      <p>Te dejamos los pasos para hacer una compra en nuestra página web :</p>
  
      <ol>
        <li>Elegí la categoría que estás buscando</li>
        <li>
          Seleccionás tus preferencias de talle y hacés click en AGREGAR AL
          CARRITO.🛒
        </li>
        <li>
          Una vez que estás en el carrito de compras, podés seguir comprando o
          avanzar haciendo click en INICIAR COMPRA.
        </li>
        <li>Completa tus datos de contacto y hacé click en CONTINUAR.</li>
        <li>
          Seleccioná el método de envío que desees y hacé clic en CONTINUAR 🚚.
          Recordá que si elegís retirar de nuestros locales, tu producto estará
          disponible a partir de las 48hs de realizada la compra.
        </li>
        <li>
          Elegí el método de pago y completá los datos. Hacé click en INICIAR
          PAGO. 💳
        </li>
        <li>
          Listo! Vas e recibir el mail de confirmación de compras en tu e-mail! En
          caso de no recibirlo te pedimos que revises la casilla de correo no
          deseado, spam o promociones 😉.
        </li>
      </ol>
  
      <p>
        <strong>
          Cualquier consulta podes hacerla por DM por nuestro instagram
          @blessedclothes.
        </strong>
      </p>
  
      <ul>
        <li>¿Cuáles son los métodos de pago?</li>
      </ul>
      <p>
        Para las compras online, contamos con todas las tarjetas de créditos,
        débito, Mercado Pago y pagos en efectivo.
      </p>
  
      <p>Podrás visualizarlas de esta manera al momento de cerrar tu compra:</p>
  
      <img src="../../../assets/Images/medio_pago.png" alt="" />
  
      <ul>
        <li>¿Cómo me tomo mis medidas?</li>
      </ul>
      <img src="../../../assets/Images/tomar_medidas.png" alt="" />
      <ul>
        <li>¿Cómo hago una compra internacional?</li>
      </ul>
      <p>
        Podes comprar desde cualquier parte del mundo en nuestro INTERNATIONAL
        SHOP:
      </p>
      <p>Te dejamos los pasos para hacer una compra:</p>
  
      <ol>
        <li>Elegí la categoría que estás buscando</li>
        <li>
          Seleccionás tus preferencias de talle y hacés click en AGREGAR AL
          CARRITO.🛒
        </li>
        <li>
          Una vez que estás en el carrito de compras, podés seguir comprando o
          avanzar haciendo click en INICIAR COMPRA.
        </li>
        <li>Completa tus datos de contacto y hacé click en CONTINUAR.</li>
        <li>
          Seleccioná el método de envío que desees y hacé clic en CONTINUAR 🚚.
        </li>
        <li>
          Elegí el método de pago y completá los datos. Hacé click en INICIAR
          PAGO. 💳
        </li>
        <li>
          Listo! Vas a recibir el mail de confirmación de compras en tu e-mail! En
          caso de no recibirlo te pedimos que revises la casilla de correo no
          deseado, spam o promociones 😉.
        </li>
      </ol>
  
      <p>
        ➡️ Cualquier consulta podes hacerla por DM por nuestro instagram
        @blessedclothes.usa
      </p>
      <p>
        ⚠️ Los envíos internacionales pueden generar impuestos o tasas de aduana
        (pueden variar según las normas de cada país), que deberán ser abonados
        por el destinatario.
      </p>
  
      <ul>
        <li><strong>¿Por qué se canceló mi orden?</strong></li>
      </ul>
      <p>
        Tu orden puede haberse cancelado por distintos motivos, de los cuales los
        principales pueden ser:
      </p>
      <p>1) El pago fue rechazado</p>
      <p>
        Nuestra tienda online utiliza Mercado Pago como sistema de verificación de
        los pagos, por lo que es posible que si el pago no cumple con los
        requisitos de la plataforma sea rechazado y tu orden será cancelada.
      </p>
  
      <p>2) La orden excedió el tiempo pendiente de pago</p>
      <p>
        Una vez generada la orden tenés 72 horas hábiles para realizar el pago,
        especialmente si elegiste abonar a través de un cupón en Pago Fácil o
        Rapipago. Una vez vencido ese plazo, automáticamente se cancelará tu orden
        para liberar el stock retenido.
      </p>
  
      <p>
        En caso de que hayas abonado y tu orden haya sido cancelada, envianos un
        correo indicando número de orden, nombre con el que realizó la compra y
        con el motivo "COMPRA CANCELADA PAGA" a ventas@blessedclothes.com.ar .
      </p>
      <ul>
        <li>¿Cómo cancelo mi compra?</li>
      </ul>
      <p>
        Podrás cancelar la compra, siempre y cuando el pedido no se encuentre en
        proceso de despacho o despachado.
      </p>
      <p>
        En caso que el pedido se encuentre en proceso de despacho o despachado,
        deberás devolver el pedido y cuando nos llegue a nuestro depósito te
        contactaremos para realizar el reintegro del dinero correspondiente, por
        el mismo medio de pago por el cual fue abonado el pedido.
      </p>
    </div>
  </div>
</section>