<div class="row">
  <div class="col header">
    <div class="section-title">
      <h2 data-text="Prendas">Prendas</h2>
      <div class="subtitle-cont">
        <p class="to-left">
          🡿 EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿
           EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿 
           EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿 
           EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿 
           EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿 
           EXPLORA NUESTRA VARIEDAD DE PRENDAS 🡿 ENCUENTRA TU ESTILO EN NUESTRA COLECCION 🡿 
        </p>
      </div>
      <div class="world-logo-cont">
        <img
          src="../../../../assets/Images/worldLogo.png"
          alt=""
          class="logo-circular"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-sections">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-12">
      <a [routerLink]="['/shop']" [queryParams]="{ tipo: 'Buzo' }">
        <div class="prenda-container">
          <div class="prenda-header">
            <div class="logo-world-cont brdr-right">
              <img src="../../../../assets/Images/worldLogo.png" alt="" />
            </div>

            <div class="prenda-type-cont">
              <div class="spanish-type">
                <p>
                  Buzos Buzos Buzos Buzos Buzos Buzos Buzos Buzos Buzos Buzos
                  Buzos Buzos Buzos Buzos Buzos Buzos
                </p>
              </div>
              <div
                class="english-type d-flex justify-content-between align-items-center"
              >
                <img
                  src="../../../../assets/Images/ArrowDirToRight.png"
                  alt=""
                />
                <h3>Hoodie</h3>
                <img
                  src="../../../../assets/Images/ArrowDirToLeft.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="prenda-body">
            <div class="click-cont brdr-right">
              <p>Click to show more</p>
            </div>
            <div class="img-cont">
              <img
                src="../../../../assets/Images/Buzos/DISTRESSED CREWNECK GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-back img-left"
              />
              <img
                src="../../../../assets/Images/Buzos/HOODIE CROP GASTHETICA (EXPERIMENTAL) FRONT - .png"
                alt=""
                class="img-prenda img-back img-right"
              />
              <img
                src="../../../../assets/Images/Buzos/HEAVY CREWNECK GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-center"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
<div class="spacing-line del-line"></div>
    <div class="col-12 col-md-6 col-lg-12">
      <a [routerLink]="['/shop']" [queryParams]="{ tipo: 'Remera' }">
        <div class="prenda-container">
          <div class="prenda-header order-change">
            <div class="logo-world-cont brdr-left">
              <img src="../../../../assets/Images/worldLogo.png" alt="" />
            </div>

            <div class="prenda-type-cont">
              <div class="spanish-type">
                <p>
                  Remeras Remeras Remeras Remeras Remeras Remeras Remeras
                  Remeras Remeras Remeras Remeras Remeras Remeras Remeras
                  Remeras Remeras Remeras
                </p>
              </div>
              <div
                class="english-type d-flex justify-content-between align-items-center"
              >
                <img
                  src="../../../../assets/Images/ArrowDirToRight.png"
                  alt=""
                />
                <h3>T-shirt</h3>
                <img
                  src="../../../../assets/Images/ArrowDirToLeft.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="prenda-body d-flex order-change">
            <div class="click-cont brdr-left">
              <p>Click to show more</p>
            </div>
            <div class="img-cont">
              <img
                src="../../../../assets/Images/Remeras/REGULAR TEE GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-back img-left"
              />
              <img
                src="../../../../assets/Images/Remeras/BOXY TEE GASTHETICA (BASIC) FRONT - .png"
                alt=""
                class="img-prenda img-back img-right"
              />
              <img
                src="../../../../assets/Images/Remeras/OVERSIZED TEE WASHED GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-center"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="spacing-line"></div>
    <div class="col-12 col-md-6 col-lg-12">
      <a [routerLink]="['/shop']" [queryParams]="{ tipo: 'Pantalon' }">
        <div class="prenda-container">
          <div class="prenda-header">
            <div class="logo-world-cont brdr-right">
              <img src="../../../../assets/Images/worldLogo.png" alt="" />
            </div>

            <div class="prenda-type-cont">
              <div class="spanish-type">
                <p>
                  Pantalones Pantalones Pantalones Pantalones Pantalones 
                  Pantalones Pantalones Pantalones Pantalones Pantalones 
                  Pantalones Pantalones Pantalones Pantalones Pantalones 
                </p>
              </div>
              <div
                class="english-type d-flex justify-content-between align-items-center"
              >
                <img
                  src="../../../../assets/Images/ArrowDirToRight.png"
                  alt=""
                />
                <h3>Pant</h3>
                <img
                  src="../../../../assets/Images/ArrowDirToLeft.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="prenda-body d-flex">
            <div class="click-cont brdr-right">
              <p>Click to show more</p>
            </div>
            <div class="img-cont">
              <img
                src="../../../../assets/Images/Pantalones/SWEATPANTS GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-back img-left"
              />
              <img
                src="../../../../assets/Images/Pantalones/CARGO PANTS GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-back img-right"
              />
              <img
                src="../../../../assets/Images/Pantalones/FLEECE SWEATPANTS GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-center"
              />
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="spacing-line del-line"></div>
    <div class="col-12 col-md-6 col-lg-12">
      <a [routerLink]="['/shop']" [queryParams]="{ tipo: 'Accesorio' }">
        <div class="prenda-container">
          <div class="prenda-header order-change">
            <div class="logo-world-cont brdr-left">
              <img src="../../../../assets/Images/worldLogo.png" alt="" />
            </div>

            <div class="prenda-type-cont">
              <div class="spanish-type">
                <p>
                  Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas
                  Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas Chaquetas
                </p>
              </div>
              <div
                class="english-type d-flex justify-content-between align-items-center"
              >
                <img
                  src="../../../../assets/Images/ArrowDirToRight.png"
                  alt=""
                />
                <h3>Chacket</h3>
                <img
                  src="../../../../assets/Images/ArrowDirToLeft.png"
                  alt=""
                />
              </div>
            </div>
          </div>

          <div class="prenda-body d-flex order-change">
            <div class="click-cont brdr-left">
              <p>Click to show more</p>
            </div>
            <div class="img-cont">
              <img
                src="../../../../assets/Images/Buzos/DISTRESSED CREWNECK GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-back img-left"
              />
              <img
                src="../../../../assets/Images/Buzos/HOODIE CROP GASTHETICA (EXPERIMENTAL) FRONT - .png"
                alt=""
                class="img-prenda img-back img-right"
              />
              <img
                src="../../../../assets/Images/Buzos/HEAVY CREWNECK GASTHETICA FRONT - .png"
                alt=""
                class="img-prenda img-center"
              />
            </div>
          </div></div
      ></a>
    </div>
  </div>
</div>
