
  <section id="novedades">
  <div class="row">
    <div class="col header">

            <div class="section-title">
              
            <h2>Novedades</h2>

        <div class="subtitle-cont">
          <p class="to-right">
            🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 
            LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾
            LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾
            LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾
            LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 LO MEJOR DE LA TEMPORADA! 🡾 </p>
        </div>
          <div class="world-logo-cont">
        <img src="/assets/Images/worldLogo.png" alt="" class="logo-circular">
      </div>
            </div>       
          
    </div>
  </div>

  <div class="container-sections">
  <div class="row">
    <div class="col">
      <div class="carousel-cont">
<app-slider></app-slider>
</div>
    </div>

  </div>
</div>
</section>