<div class="row"><div class="col"><h1>Política de Cambios</h1></div></div>
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
     <h2>Cambios y devoluciones</h2>
     <p>En BLESSEDCLOTHES queremos que puedas disfrutar plenamente de tus productos. Te ofrecemos un proceso rápido, ágil y sencillo para que puedas cambiar o devolver tu producto.</p>
    </div>
    <h3>¿Cómo realizo un cambio o devolución?</h3>
    <p>Para comenzar solo tenés que presionar 
        el botón “cambiar/devolver un producto” 
        y seguir los pasos:</p>

        <ul>
            <li>Busca tu orden con el 
                número de la misma y el 
                mail que utilizaste en tu compra</li>
            <li>Selecciona el/los productos que queres cambiar o devolver</li>
            <li>Elegí como queres hacernos llegar los productos. Podes hacernos llegar los productos a nuestro depósito, realizar el cambio en nuestro local de Palermo o coordinar la manera que te resulte más cómoda.</li>
        </ul>

        <p>Una vez que recibamos tus productos, 
            en 48 hs. procesaremos la orden y procederemos 
            a enviarte tu nuevo producto o efectuarte 
            el reembolso correspondiente.</p>
            <h3>¿Qué tengo que tener en cuenta?</h3>

            <ul>
                <li>Tenés 30 días corridos desde que realizaste la compra para cambios y 10 días para devoluciones</li>
                <li>Deberás presentar el ticket de compra o cambio. En caso de compras online, la factura electrónica o acreditar el número de orden. </li>
                <li>Los productos deben estar en perfecto estado y con todas las etiquetas originales.   </li>
                <li>Podrás cambiarlo por cualquier otro producto de igual valor o varios productos que sumen el monto del mismo.  En caso de que superen al valor del comprado, la diferencia será abonada al momento del cambio o a través de un link de pago.</li>
                <li>No se permite cambiar el producto por el mismo modelo y mismo talle, salvo que se deba a una falla en el producto.  </li>
                <li>No aceptamos devoluciones de ropa interior (socks, boxers, top, tapabocas, etc) por motivos de higiene.</li>
                <li>También podes realizar el cambio o devolución en nuestros locales habilitados para tal fin.</li>
            </ul>
            <p>Recordá que los costos de cambio de los productos están a cargo del cliente, por lo que te sugerimos chequear bien las características de los mismos antes de realizar tu compra. Además, los cambios están sujetos a disponibilidad del stock del producto solicitado. Una vez que lleguen los productos a cambiar, verificaremos su estado y te cotizaremos el reenvío. El cargo de envío no se cobrará en caso de que la devolución sea por producto defectuoso o error en el producto enviado. </p>
<p>En caso de que hayamos cambiado el precio del producto y estar dentro del plazo de 30 días, se considerará el precio a la fecha de compra que figura en el ticket u orden.</p>
En el caso de eventos especiales, como el BlessedCode Sale, se reconocerá el valor de compra vigente ese día como referencia para cambios o devoluciones. Es decir, si se realizó la compra durante el evento se respetarán los precios vigentes de esas fechas, pero de hacerlo fuera de ese periodo, se ajustaran a los correspondientes al día de la compra.
<button class="bttn">Cambiar/devolver un producto</button>
</div>
