<div class="hero-section">
  <div class="hero-add-bar">
<p class="to-right">
  🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽
   WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽
   WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽 WHATS NEW IN BLESSEDCLOTHES? 🡽
</p>
  </div>
<div class="img-cont">
  <img src="../../../../../assets/Images/Hero-img.png" alt="" id="hero-img">
  <div class="txt-hero-cont">

  <div class="row">
 
    <div class="col head">

      <div class="brand-logo borderR">
<img src="/assets/Images/blessedClotheSticker.png" alt="" class="blessed-stickr">
    </div>
    </div>
  </div>



</div>

<img src="/assets/Images/shippingSticker.png" alt="" class="sticker">
</div>
<div class="hero-add-bar">
  <p class="to-left">
    🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿
     SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿
     SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿 SCROLL DOWN TO EXPLORE 🡿
  </p>
</div>
<app-informative-banner></app-informative-banner>
  </div>
