<div class="subtitle-bar">
<p>SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
    SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
    SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
    SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! </p>
</div>

       <div class="row newslttr-cont">


            <div class="col-12 col-xl-3 p-0 d-flex justify-content-center align-items-center">
        <div class="title-cont">
            <img src="/assets/Images/Soft Star.png" alt="" class="star star-left">
            <span class="word">news</span>
            <span class="word">letter</span>
            <img src="/assets/Images/Soft Star.png" alt="" class="star star-right">
        </div>
    </div>

    <div class="col-12 col-xl-7 info-cont">
        
          <div class="news-top-txt">
            <img src="/assets/Images/Soft Star.png" alt="" class="star-top">

        <p>¿Querés recibir nuestras ofertas? ¡Suscribite y comenzá a disfrutarlas!</p>
        <img src="/assets/Images/Soft Star.png" alt="" class="star-top">

    </div>
    <div class="mail-cont">
        <input type="text" placeholder="Email">
    </div>
</div>

<div class="d-none d-xl-flex col-xl-2 d-flex justify-content-center align-items-center">
    <div class="smile-icon-cont d-flex align-items-center justify-content-center">
<img src="/assets/Images/Smile.png" alt="" class="smile-icon"></div>
</div>

</div>

<div class="subtitle-bar">
    <p>SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
        SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
        SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! 
        SUBSCRIBETE A NUESTRO NEWSLETTER!  SUBSCRIBETE A NUESTRO NEWSLETTER! </p>
    </div>


