:host ::ng-deep app-card{
@media screen and (max-width: 1365px) {

    .card{
      border-radius: 0;
      height: 491px;
      width: 264px;
      background: var(--grey-color);
      transition: all .2s ease-out;
    }
    .bttn{
      width: 120px;
      height: 40px;
    }

    .bttn span{
      font-size: 12px;
      font-weight: 400;
    }

    .bttn-add{
      width: 100%;
    }

  }
  
  @media screen and (max-width: 1150px) {
    .card{
      border-radius: 0;
      height: 470px;
      width: 219px;
      background: var(--grey-color);
      transition: all .2s ease-out;
    }


    .card-title-txt{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding: 8px 10px;
     }

     .price-cont{
       display: flex;
       align-items: center;
       justify-content: start;
       width: 100%;
       padding: 0px 10px;
     }
   
     .price{
       color: #000;
       font-size: 16px;
       line-height: 16px;
       font-weight: 550;
       margin: 0;
     }

    .cuotas-cont{
      display: flex;
      align-items: center;
      justify-content: start;
  padding: 0px 10px;
    }
  
  .cuotas-txt{
    font-size: 14px;
  }

      .bttn{
        width: 100px;
        height: 40px;
      }
      .bttn-add{
        width: 100%;
      }

      .close-bttn{
        padding: 1px;
        width: 38px;
        height: 24px;
      }
  }

  @media screen and (max-width: 1024px){
    .close-bttn{
      width: 32px;
      height: 20px;
    }

    .card{
      border-radius: 0;
      height: fit-content;
      width: 170px;
      background: var(--grey-color);
      transition: all .2s ease-out;
    }

    .img-container{
      height: 200px;
    }

    .card-title-txt{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding: 8px 10px;
     }

     .price-cont{
       display: flex;
       align-items: center;
       justify-content: start;
       width: 100%;
       padding: 0px 10px;
     }
   
     .price{
       color: #000;
       font-size: 16px;
       line-height: 16px;
       font-weight: 550;
       margin: 0;
     }

     .cuotas-txt{
      font-size: 12px;
    }
  
        .bttn{
          width: 67px;
          height: 35px;
        }
        .bttn-add{
          width: 100%;
        }
.talles-cont-card{
  width: 100%;
  height: 130px;
  padding: 10px;
}
        .button {
          width: 22px;
          height: 22px;
         font-size: 12px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          margin-right: 8px;
        }
  }

  @media screen and (max-width: 768px){
    .card{
      border-radius: 0;
      height: 447px;
      width: 218px;
      background: var(--grey-color);
      transition: all .2s ease-out;
    }

    .close-bttn{
      width: 39px;
      height: 22px;
    }

    .img-container{
      height: 70%;
    }

    .card-title-txt{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      padding: 8px 10px;
     }

     .price-cont{
       display: flex;
       align-items: center;
       justify-content: start;
       width: 100%;
       padding: 0px 10px;
     }
   
     .price{
       color: #000;
       font-size: 16px;
       line-height: 16px;
       font-weight: 550;
       margin: 0;
     }

     .cuotas-txt{
      font-size: 12px;
    }
  
        .bttn{
          width: 90px;
          height: 40px;
        }
        .bttn-add{
          width: 100%;
        }
  }}