<div class="container-sections">
<div class="row">
    <div class="col-12 col-md-3 d-none d-md-flex">
 <div class="cont d-flex flex-column justify-content-between">
     <div class="brand-cont brown-backg mt-5">
    <a class="navbar-brand" href="#">blessedclothes.</a>
</div>
    <div class="grey-light-cont mb-5">
    <p>
        Esta marca es ficticia y se creo solamente para desarrollar un proyecto front-end como si fuera para una marca de ropa.
    </p></div>
 </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="cont d-flex flex-column justify-content-between">
            <div class="grey-light-cont mt-5">
                    <div class="title-cont brown-backg">
                        <img src="../../../../assets/Images/Soft Star.png" alt="" class="star-deco">

                <h3>contactame</h3>
            </div>
              </div> 
          <div class="grey-light-cont">
            <p>SI NECESITAS UN DISEÑO WEB PARA TU EMPRESA
                O ME QUIERES EN TU EQUIPO DE TRABAJO,
                NO DUDES EN COTACTARME.</p>
          </div> 
          <div class="mail-cont brown-backg mb-5 d-flex align-items-center justify-content-center">
                <p>alancasstrocoelho@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">  
        <a href="https://portfolioalancoelho-a164e.web.app/portfolio" target="_blank">
        <div class="cont d-flex flex-row flex-md-column justify-content-center align-items-center brown-backg portf-bttn">
              
                  <h3 class="f-bold">mi portfolio</h3>
                  <img src="/assets/Images/Soft Star.png" alt="" class="star-two">       
        
              
          </div>
        </a>
  </div>
</div>

</div>
