<div class="container-sections">
  <div class="title-cont">
    <h3>Contacto</h3>
  </div>
  <div class="row">
    <div class="col-12 col-md-3 d-none d-md-flex px-md-2">
      <div class="cont d-flex flex-column justify-content-between">
        <div class="brand-cont brown-backg">
          <a href="#">blessedclothes.</a>
        </div>
        <div class="grey-light-cont">
          <p>
            Esta marca es ficticia y se creo solamente para desarrollar un
            proyecto front-end como si fuera para una marca de ropa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 px-md-2">
      <div class="cont d-flex flex-column justify-content-between middle-cont">
        <div class="grey-light-cont middle-txt">
          <p>
            SI NECESITAS UN DISEÑO WEB PARA TU EMPRESA O ME QUIERES EN TU EQUIPO
            DE TRABAJO, NO DUDES EN COTACTARME.
          </p>
        </div>
        <div class="world-logo-cont">
          <img
            src="/assets/Images/worldLogo.png"
            alt=""
            class="logo-circular"
          />
        </div>
        <div
          class="mail-cont brown-backg d-flex align-items-center justify-content-center"
        >
          <p>alancasstrocoelho@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 px-md-2">
      <a
        href="https://portfolioalancoelho-a164e.web.app/portfolio"
        target="_blank"
      >
        <div
          class="cont d-flex flex-row flex-md-column justify-content-center align-items-center brown-backg portf-bttn"
        >
          <h4 class="f-bold">mi portfolio</h4>
          <svg
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="star-two"
          >
            <path
              d="M23.3444 39.2381L23 42.1407L22.6556 39.2381C21.6667 30.9041 15.0959 24.3333 6.76191 23.3444L3.85935 23L6.76191 22.6556C15.0959 21.6667 21.6667 15.0959 22.6556 6.76184L23 3.85928L23.3444 6.76184C24.3333 15.0959 30.9041 21.6667 39.2382 22.6556L42.1407 23L39.2382 23.3444C30.9041 24.3333 24.3333 30.9041 23.3444 39.2381Z"
              stroke-width="2"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
