
.add-bar{
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 100%;
    background: #ABABAB;
    border-bottom: 2px solid #000;
    z-index: 300;
    pointer-events: none;

}

.add-bar-text{
    position: absolute;
    top: 3px;
    font-size: 14px;
    white-space: nowrap;
    left: 100%;
    animation: text-add 75s linear 3s infinite;
    color: #000;
}

@keyframes text-add{
    0%{
        left: 100%; 
    }
    100%{
        left: -260%;
    }

}