<div class="add-bar">
    <span class="add-bar-text">
        Envíos GRATIS en compras superiores a $45000 🌟 PAGA EN 3 Y 6 CUOTAS SIN INTERÉS con Visa, Master y Amex Bancarias 💳
        Envíos GRATIS en compras superiores a $45000 🌟 PAGA EN 3 Y 6 CUOTAS SIN INTERÉS con Visa, Master y Amex Bancarias 💳
        Envíos GRATIS en compras superiores a $45000 🌟 PAGA EN 3 Y 6 CUOTAS SIN INTERÉS con Visa, Master y Amex Bancarias 💳
        Envíos GRATIS en compras superiores a $45000 🌟 PAGA EN 3 Y 6 CUOTAS SIN INTERÉS con Visa, Master y Amex Bancarias 💳
        Envíos GRATIS en compras superiores a $45000 🌟 PAGA EN 3 Y 6 CUOTAS SIN INTERÉS con Visa, Master y Amex Bancarias 💳
    </span>
</div>
