
.dropdown-cont{
    position: absolute;
    top: -240px;
    background-color: var(--grey-color);
    box-shadow: 0 5px 12px #0000004f;
    width: 100%;
    height: 250px;
    left: 0;
    padding: 25px;
    color: #000;
    font-size: 19px;
    transition: all .7s ease;
border-bottom: 2px solid #000;

  }

  ul{

  list-style: none;
}
  .dropdown-cont h3{
    font-size: 20px;
    font-weight: bold;
  }


  
  .submenu-show{
    
    top: 60px;
  }

  @media (max-width: 768px){
    .dropdown-cont{
      display: none;
      opacity: 0;
      position: relative;
      top: 0;
      box-shadow: 0;
      width: 100%;
      height: 100px;
      left: 0;
      padding: 18px;
      color: #000;
      font-size: 16px;
      transition: all .7s ease;
  border-bottom: 2px solid #000;
    }
    .submenu-show{
    display: inline;
    top: 0;
    opacity: 1;
    }
  }